a:link {
  color: red;
}
a:visited {
  color: red;
}
body {
  background: #0033cc;
  background-size: cover;
  text-align: center;
  color: #00802b;
  font-family: 'Gentium Book Basic', serif;
}
table{
   background-color: grey;
   color: #0033cc;
   margin-left: auto;
   margin-right: auto;
   border: 3px solid darkred ;
   font-family: inherit;
}
th, td{
  border: 2px solid darkred;
  color: #0033cc; 
  font-size: medium;
  border-radius: 3px;
  width: 300px;
  height:45px;
  text-align: center; 
  font-family: inherit;

}
img{
  width:10%;
  height:10%;
}
img{
  width:30%;
  height:30%;
}